#everything{
	background: rgb(213,255,252);
background: linear-gradient(180deg, rgba(213,255,252,1) 1%, rgba(188,251,247,1) 5%, rgba(171,250,245,1) 10%, rgba(147,237,231,1) 16%, rgba(119,224,218,1) 21%, rgba(61,210,201,1) 30%, rgba(17,180,170,1) 45%, rgba(7,151,142,1) 60%, rgba(2,73,68,1) 92%, rgba(2,50,46,1) 98%);
	width:850px;
}
#title{
	background: rgb(213,255,252);
background: linear-gradient(0deg, rgba(213,255,252,1) 1%, rgba(188,251,247,1) 5%, rgba(171,250,245,1) 19%, rgba(147,237,231,1) 33%, rgba(119,224,218,1) 48%, rgba(61,210,201,1) 64%, rgba(17,180,170,1) 82%, rgba(7,151,142,1) 96%);
	padding-left:350px;
	width:500px;
	height:30px;
	padding-bottom:20px;
}
#img{
	width:50px;
	float:left;
}
#2{
	
	float:left;
}
#text{
	padding-top:10px;
	text-align:justify;
	margin-top:20px;
	margin-left:310px;
	width:500px;
}
#table{
	margin-left:310px;
}
#bottom{
	color:#11b4aa;
	width:850px;
	height:30px;
	margin-left:70px;
	clear:both;
	
}